<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        * {
            font-size: 14px;
            margin: 10px auto;
        }

        #app {
            width: 1000px;
        }

        .message {
            font-size: 10px;
            color: blue;
        }

        .error {
            color: red;
        }


    </style>
</head>
<body>
<div id="app">
    <!--    需要在springsecrurity处，排除掉springsecrurity对register的请求过滤-->
    <form action="/register" method="post">
        <!--要与配置类的属性名一致-->
        <!--        @blur失去焦点-->
        用户名:<input type="text" name="uname" v-model="uname" @blur="isUnameValid()">
        <!--        如果isError为true，则error,如果isMessage为ture，则message-->
        <!--        一个class可以用多个样式-->
        <span :class="{'error':isError,'message':isMessage}">{{message}}</span>
        密码:<input type="password" name="upwd" v-model="upwd"><br>
        <input type="button" value="注册" @click="reg()" :disabled="isValid"><a href="login.html">登录</a>
    </form>
</div>

<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            uname: '',
            upwd: '',
            isValid: true,
            message: '用户名必须为6-10位以上数字下划线组成，不能重名',
            isMessage: true,
            isError: false
        },
        methods: {
            isUnameValid: function () {
                let reg = /^\w{6,10}$/;
                if (!reg.test(this.uname)) {
                    this.message = '用户名必须为6-10位以上数字下划线组成';
                    this.isError = true;
                    this.isValid = true;
                    return;
                }
                let params = new URLSearchParams();
                params.append("uname", this.uname);
                axios.post('isUnameValid.action', params).then(response => {
                    if (response.data.code = 0) {
                        this.message = response.data.msg;
                        this.isError = true;
                        this.isValid = true;
                        return;
                    }
                    this.message = "用户名可以使用"
                    this.isError = false;
                    this.isValid = false;
                });
            },
            reg: function () {
                let params = new URLSearchParams();
                params.append("uname", this.uname);
                params.append("upwd", this.upwd);
                axios.post('reg.action', params).then(response => {
                    if (response.data.code == 0) {
                        alert("注册失败，原因：" + response.data.msg);
                        return;
                    }
                    alert("注册成功")
                });
            }

        }

    })


</script>
</body>
</html>